#card-input {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#card-input .container {
  width: 55%;
}

#card-input .card {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  background: white;
  border-color: rgba(173, 173, 173, 0.692);
}

#card-input .card input {
  margin-right: 5px;
  padding: 10px 5px;
}

#card-input .card button {
  padding: 10px 10px;
  background: rgba(49, 48, 48, 0.918);
  color: rgb(243, 239, 239);
  border-color: rgba(49, 48, 48, 0);
}

#card-input .card input:focus {
  outline-color: cornflowerblue;
}
